@import "../../styles/foundation/foundation.scss";

.steps_container {
  &_form {
    &--pisos {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: #8512ff;
      font-size: 30px;
      font-family: ubuntu;

      select {
        width: 112px;
        font-size: 64px;
        height: 100px;
        text-align: center;
        margin: 25px;
        color: #8512ff;
        font-weight: 700;
        font-family: Ubuntu;
        padding: 0;
      }
    }
  }
}
