@import "../../styles/foundation/foundation.scss";

.steps {
  background: #f6fcff;
  width: 100%;
  height: 100vh;
  padding-top: 120px;
  @include xy-grid;
  @include xy-grid-container;

  .steps_container {
    &_form {
      &_detalle {
        padding: 20px;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
  }
}
