@import "../../styles/foundation/foundation.scss";

.section_title {
  .section_title--h1 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: #000000;
    text-align: left;
    line-height: initial;

    @include breakpoint(small down) {
      font-size: 40px;
    }
  }

  .section_title--h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    text-align: left;
    line-height: initial;
    @include breakpoint(small down) {
      font-size: 30px;
    }
  }
}
