@import "../../styles/foundation/foundation.scss";

.steps {
  background: #f6fcff;
  width: 100%;
  height: 100vh;
  padding-top: 120px;
  @include xy-grid;
  @include xy-grid-container;

  .steps_container {
    &_form {
      &_ascensor {
        &--sino {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          color: #8512ff;
          font-size: 30px;
          font-family: ubuntu;
          margin: 20px 0;

          .steps_container_form--ascensor-item {
            background: #fefefe;
            border: 1px solid #aaecff;
            box-shadow: none;
            padding: 20px;
            border-radius: 8px;
            margin: 0 15px;
            width: 150px;

            input {
              display: block;
              text-align: center;
              margin: 0 auto;
            }
          }
        }
        &--cubierto {
          background: #fefefe;
          border: 1px solid #aaecff;
          box-shadow: none;
          padding: 20px;
          border-radius: 8px;
          margin-bottom: 20px;

          &_content {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .steps_container_form--parqueadero--cubierto-item {
            background: #fefefe;
            border: 1px solid #aaecff;
            box-shadow: none;
            padding: 20px;
            border-radius: 8px;
            margin: 0 15px;
            width: 150px;

            input {
              display: block;
              text-align: center;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
