@import "../../styles/foundation/foundation.scss";

.detalles {
  background: #fefefe;
  border: 1px solid #aaecff;
  box-shadow: none;
  border-radius: 10px;
  padding: 25px;
  height: 90%;

  @include breakpoint(medium down) {
    display: none;
  }

  &_emply {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 30px;
    text-align: center;

    &_container {
      p {
        font-size: 13px;
        margin: 14px 0;
        font-weight: 600;
        color: gray;
        font-family: "Ubuntu";
      }
    }
  }

  &_mobile_icon {
    background: white;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    z-index: 9;

    img {
      width: 30px;
    }
  }

  ul {
    margin: 0;
    overflow: hidden;

    li {
      display: block;

      span {
        font-size: 16px;
        font-weight: 700;
        color: gray;
        font-family: ubuntu;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        color: gray;
        font-family: ubuntu;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
